name: Test Git Docker

permissions:
  contents: write
  actions: read



on:


  workflow_dispatch:  # Ajoutez cette ligne
jobs:
  register:
    runs-on: ubuntu-latest

    container:
      image: scalgary/selenium-env:latest
      options: --workdir /github/workspace



    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true      # OBLIGATOIRE


      - name: Fetch tags (sécurité)
        run: git fetch --tags --force


      - name: Run count-tags
        uses: ./.github/actions/count-tags
        id: count

      - name: Output
        run: echo "Tags = ${{ steps.counttags.outputs.tag_count }}"